@mixin extendedPosition {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@keyframes balls {
	from {
		top: 100%;
		transform: translateY(0);
	}
	to {
		top: 0;
		transform: translateY(-100%);
	}
}

@keyframes ballMain {
	from {
		top: 100%;
		transform: translateY(0);
	}
	to {
		top: 0;
	}
}

@keyframes bounce {
	from,
	70% {
		transform: translateY(-100%);
	}
	10%,
	60% {
		transform: translateY(-50%);
	}
	70%,
	30% {
		transform: translateY(-90%);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(
		40deg,
		rgba(67, 27, 211, 0.8),
		rgba(211, 20, 80, 0.8)
	);

	.ball-bg {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;

		img {
			width: 80px;
			top: 100%;
			opacity: 0.5;
			position: fixed;
		}

		.ball-1 {
			animation: balls 5s ease-in infinite;
		}

		.ball-2 {
			left: 50%;
			transform: translateX(-50%);
			animation: balls 5s ease-in 6s infinite;
		}

		.ball-3 {
			right: 50%;
			transform: translateX(50%);
			animation: balls 5s ease-in 9s infinite;
		}

		.ball-4 {
			right: 0;
			animation: balls 5s ease-in 3s infinite;
		}

		.happy-birthday {
			top: 0;
			left: 50%;
			width: 100px;
			opacity: 0.8;
			transform: translate(-50%, 0);
			animation: ballMain 5s ease-in-out 10s;
		}
	}
}

#lock-screen {
	z-index: 10;
	position: fixed;
	@include extendedPosition();
	animation: float 5s ease-in-out infinite;
	background: linear-gradient(90deg, rgb(7, 90, 39), rgb(95, 74, 211));

	&.show-bg {
		&::before {
			content: "";
			transition: all 1s;
			position: fixed;
			@include extendedPosition();
			animation: fadein 3s ease-in-out;
			background: url("../img/birthday.svg") fixed no-repeat center;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		color: white;

		small {
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 0.3rem;
			transform: translateY(-100%);
		}

		i {
			margin: auto;
			display: inline-block;
			animation: bounce 3s ease-in-out 3s infinite;
		}
	}
}

.fluid-wrapper {
	z-index: 2;
	position: relative;
	// padding-left: 0.5rem;
	// padding-right: 0.5rem;

	.row {
		display: flex;
		flex-direction: column;

		.col {
			img {
				transition: all 0.8s;
				position: absolute;
				width: 100%;
				height: 500px;
				object-fit: cover;
				opacity: 0;
				&.active {
					opacity: 1;
				}
			}
			&.writeup {
				margin-top: 520px;
				display: flex;
				.m-auto {
					color: white;
					font-family: cursive;
					font-size: 16px;
					margin: auto;
					padding: 0.5rem;
					text-align: justify;
				}
			}
		}

		@media (min-width: 992px) {
			flex-direction: row;
			justify-content: stretch;

			.col {
				width: 50%;

				.img-wrapper {
					position: relative;
					height: calc(100dvh - 100px);

					img {
						transition: all 0.8s;
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
						opacity: 0;
						&.active {
							opacity: 1;
						}
					}
				}

				&.writeup {
					margin-top: 0;
					height: calc(100dvh - 100px);
					display: flex;
					.m-auto {
						margin: auto;
						padding: 0.5rem;
						text-align: justify;
					}
				}
			}
		}
	}
}
